<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "partials/meta-info.html" %}    

    <style>
        body {
            opacity: 0;
            transition-duration: 133.7ms;
            transition-timing-function: ease-in-out;
        }
    </style>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicon/apple-touch-icon.png' | url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon/favicon-32x32.png' | url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon/favicon-16x16.png' | url }}">
    <link rel="manifest" href="{{ '/assets/favicon/site.webmanifest' | url }}">
    <link rel="mask-icon" href="{{ '/assets/favicon/safari-pinned-tab.svg' | url }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
</head>
<body>

    {% include "partials/header.html" %}

    <main id="main" tabindex="-1">

        {% block content %}{% endblock %}

    </main>

    {% include "partials/footer.html" %}

</body>
</html>