{% extends "layouts/base.html" %}

{% block content %}

		<div class="container">
			<article>
				<h1>{{ title }}</h1>

				<p>{{ pageIntro }}</p>

				<div>
					<h2 class="h5">Categories</h2>

					<ul>
					{% for item in collections[ collection ] %}	
						<li><a href="#{{ item.data.title }}">{{ item.data.title }}</a></li>
					{% endfor %}					
					</ul>
				
				</div>
			</article>		

			{% for item in collections[ collection ] %}	

			<h2 id="{{ item.data.title }}">{{ item.data.title }}</h2>
			
			<ul>
			{% for item in collections[ item.data.collection ] %}
				<li>
					<a href="{{ item.url }}">{{ item.data.title }}</a> - {{ item.data.shortDescription }}.
				</li>
			{% endfor %}
			</ul>				

			{% endfor %}
		</div>

{% endblock %}