*, *:before, *:after {
    box-sizing: border-box;
}

body {
    opacity: 1;
    font-family: Arial, sans-serif;
    color: #0e1111;
	font-size: 112.5%;
    line-height: 1.5;
    background-color: #f1f1ef;
}

ul, ol {
    margin: 0 0 1.5625em 2em;
    padding: 0;
}

hr {
	border: 0;
    border-top: 1px solid #e5e5e5;
    margin: 2em auto;
}

footer {
    text-align: center;
    font-size: 75%;	
}

.container {
	margin-left: auto;
    margin-right: auto;
    max-width: 38em;
    width: 88%;
}

.container-large {
    max-width: 60em;
}

.margin-bottom-large {
    margin-bottom: 2em;
}

.margin-bottom-small {
    margin-bottom: .5em;
}

.nav-wrap {
    padding-top: 1em;
    padding-bottom: .5em;
    text-align: center;
}

@media (min-width: 60em) {
	.nav-wrap {
	    display: flex;
	    justify-content: space-between;
	}
}

.nav {
	margin-bottom: 0;
}

.list-inline, 
.nav, 
.list-unstyled {
    list-style: none;
    margin-left: 0;
}

.list-inline > li, 
.nav > li {
    display: inline-block;
    margin-left: .5em;
    margin-right: .5em;
}

.nav a {
    color: #0e1111;
    text-decoration: none;
}

.nav a:hover,
.nav .active a {
    text-decoration: none;
    border-bottom: .125em solid #c19434;
}

.logo {
    color: #0e1111;    
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: .3125em;
    text-decoration: none;
}

.logo:hover {
   color: #c19434; 
}

h1, .h1 {
    font-size: 1.5em;
    padding-top: .5em;
}

h2, .h2 {
    font-size: 1.3125em;
    padding-top: 1.3125em;
}

h3, .h3 {
    font-size: 1.1875em;
    padding-top: 1.1875em;
}

h4, .h4, h5, .h5, h6, .h6 {
    font-size: 1em;
    padding-top: 1em;
}


h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin: 0 0 1em;
    padding: 1em 0 0;
    word-wrap: break-word;
}

p {
    margin: 0 0 1.5625em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.text-large, 
.text-xlarge {
    font-size: 1.1875em;
    line-height: 1.4; 
}

.text-xlarge {
    font-size: 1.7em;
}

pre code {
	font-size: 1.1em;
}

@media (min-width: 38em) {
    h1, .h1 {
        font-size: 1.75em;
    }

	.text-xlarge {
	    font-size: 2em;
	}
}


/**
* xonokai theme for JavaScript, CSS and HTML
* based on: https://github.com/MoOx/sass-prism-theme-base by Maxime Thirouin ~ MoOx --> http://moox.fr/ , which is Loosely based on Monokai textmate theme by http://www.monokai.nl/
* license: MIT; http://moox.mit-license.org/
*/
code[class*="language-"],
pre[class*="language-"] {
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: normal;
    font-family: Menlo, Monaco, "Courier New", monospace;
    font-size: 14px;
    color: #76d9e6;
    text-shadow: none;
}

pre > code[class*="language-"] {
    font-size: 1em;
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
    background: #2a2a2a;
}

pre[class*="language-"] {
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #e1e1e8;
    overflow: auto;
    position: relative;
}

pre[class*="language-"] code {
    white-space: pre;
    display: block;
}

:not(pre) > code[class*="language-"] {
    padding: 0.15em 0.2em 0.05em;
    border-radius: .3em;
    border: 0.13em solid #7a6652;
    box-shadow: 1px 1px 0.3em -0.1em #000 inset;
}

.token.namespace {
    opacity: .7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #6f705e;
}

.token.operator,
.token.boolean,
.token.number {
    color: #a77afe;
}

.token.attr-name,
.token.string {
    color: #e6d06c;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #e6d06c;
}

.token.selector,
.token.inserted {
    color: #a6e22d;
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.important,
.token.deleted {
    color: #ef3b7d;
}

.token.regex,
.token.statement {
    color: #76d9e6;
}

.token.placeholder,
.token.variable {
    color: #fff;
}

.token.important,
.token.statement,
.token.bold {
    font-weight: bold;
}

.token.punctuation {
    color: #bebec5;
}

.token.entity {
    cursor: help;
}

.token.italic {
    font-style: italic;
}

code.language-markup {
    color: #f9f9f9;
}

code.language-markup .token.tag {
    color: #ef3b7d;
}

code.language-markup .token.attr-name {
    color: #a6e22d;
}

code.language-markup .token.attr-value {
    color: #e6d06c;
}

code.language-markup .token.style,
code.language-markup .token.script {
    color: #76d9e6;
}

code.language-markup .token.script .token.keyword {
    color: #76d9e6;
}

/* Line highlight plugin */
pre[class*="language-"][data-line] {
    position: relative;
    padding: 1em 0 1em 3em;
}

pre[data-line] .line-highlight {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;
    margin-top: 1em;
    background: rgba(255, 255, 255, 0.08);
    pointer-events: none;
    line-height: inherit;
    white-space: pre;
}

pre[data-line] .line-highlight:before,
pre[data-line] .line-highlight[data-end]:after {
    content: attr(data-start);
    position: absolute;
    top: .4em;
    left: .6em;
    min-width: 1em;
    padding: 0.2em 0.5em;
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    font: bold 65%/1 sans-serif;
    height: 1em;
    line-height: 1em;
    text-align: center;
    border-radius: 999px;
    text-shadow: none;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}

pre[data-line] .line-highlight[data-end]:after {
    content: attr(data-end);
    top: auto;
    bottom: .4em;
}