    <header class="container container-large margin-bottom-large">
        <nav class="nav-wrap">  
            <a a href="/" class="logo">
                Development Toolkit
            </a>

            <div class="nav-menu">
                <ul class="nav">
                    <li>HTML & CSS</li>
                    <li><a href="javascript/index.html">JavaScript</a></li>
                    <li>PHP</li>
                    <li>WordPress</li>
                    <li>Eleventy</li>                   
                    <li>Local server</li>
                </ul>               
            </div>
        </nav>
    </header>